
<div id="discoverModal" class="modal fade" role="dialog" style="width:0;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Discover</h4>
      </div>
      <div class="modal-body">
        <div>
          Archival research collections across the University of Oklahoma campus have come together to create a unified
          portal for discovery of collection inventories.
        </div>
        <div>
          <img src="/assets/images/arc-diagram.png" alt="ARC Diagram" style="height: 130px;">
        </div>
        <div>
          Thanks to ARC, it’s now easier than ever to discover the diverse and historically significant collections
          housed at the University of Oklahoma. From House Speaker Carl Albert’s correspondence surrounding the
          Watergate scandal to glass slides used in theatre organ sing-alongs, the depths of these collections are just
          waiting to be discovered.
        </div>
      </div>
    </div>
  </div>
</div>

<div id="connectModal" class="modal fade" role="dialog" style="width:0;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Connect</h4>
      </div>
      <div class="modal-body">
        <div>
          The power of ARC lies in the instant connections researchers can make between collections across campus.
          Rather than visiting separate online databases and attempting to stitch them together, a researcher
          interested in the life of Liberace for example, could simple search for his name and find that relevant
          photographs exist at multiple repositories on campus.
        </div>
        <div>Search:</div>
        <div>Browse & Filter:</div>
        <div>Plan Your Visit</div>
      </div>
    </div>
  </div>
</div>

<div id="joinModal" class="modal fade" role="dialog" style="width:0;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Join</h4>
      </div>
      <div class="modal-body">
        <div>
          <b>Benefits of ARC Consortium Membership:</b>
          <ul>
            <li>Cost and time savings as departments pool resources</li>
            <li>Inter-departmental support to improve access to collections</li>
            <li>Cross-discovery of collections materials which heretofore have been maintained in veritable information
              silos
            </li>
            <li>Hosting and management of an open-source, standards-based, professionally supported database
              (ArchivesSpace) by CCE-IT
            </li>
            <li>User-friendly, publicly accessible, online database for researchers</li>
            <li>Data crawled by major search engines</li>
            <li>Robust collections management interface</li>
            <li>Standardized data export options</li>
          </ul>
        </div>
        <div>
          Interested in having the inventories of your OU repository included in ARC? Contact
          <a href="mailto:baileys@ou.edu">baileys@ou.edu</a> or
          <a href="mailto:ngerth@ou.edu">ngerth@ou.edu</a> for more information on joining the ARC Consortium.
        </div>
        <div>
          <p>
            <b>Founding Members</b><br>
            <a href="http://www.ou.edu/content/aoi/resources/archives-and-library.html" target="_blank" class="plain">
              <img src="/assets/images/aoi-circle.png" alt="AOIAL" class="footer-icon" style="height: 100px; width: 100px"/>
            </a>
            <a href="http://www.ou.edu/content/carlalbertcenter/congressional-collection.html" target="_blank" class="plain">
              <img src="/assets/images/cac.png" alt="CAC" class="footer-icon" style="height: 100px; width: 100px"/>
            </a>
          </p>

          <p>
            <b>Level 1 Members</b><br>
            TBD
          </p>

          <p>
            <b>Level 2 Members</b><br>
            TBD
          </p>
        </div>
      </div>
    </div>
  </div>
</div>