<p style="padding-right: 20px;">
  For more information and to access these materials, please contact:
</p>
<p class="nav-branding center-sm">
  <span class="col-xs-5 middle-sm">
    <a href="http://www.ou.edu/content/carlalbertcenter/congressional-collection.html" target="_blank">
      <b>Carl Albert Center Congressional and Political Collections</b>
    </a>
  </span>
  <span>
    <a href="http://www.ou.edu/content/carlalbertcenter/congressional-collection.html" target="_blank">
      <img src="/assets/images/cac.png" style="height: 100px; width: 100px;" alt="CAC" />
    </a>
  </span>
</p>
<p class="center-sm" style="padding-top: 10px;">
  <a href="mailto:cacarchives@ou.edu">cacarchives@ou.edu</a><br>
  (405) 325-6372
</p>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-68536249-41', 'auto');
    ga('send', 'pageview');
</script>